# Docker Compose for stand alone Robin MTA
# This file sets up Robin MTA only with necessary volumes and ports.
# It loads the default configuration which can be customized via the cfg/ directory.
# This has all 3rd party integrations turned off including local mail storage.
# It will not accept any emails until configured properly.

services:
  robin-mta:
    container_name: robin-mta
    build:
      context: ./
      dockerfile: ./Dockerfile
      args:
        INCLUDE_CFG: "false"
    environment:
      JAVA_TOOL_OPTIONS: "-Dnetworkaddress.cache.negative.ttl=300 -Dsun.net.inetaddr.negative.ttl=300 ${JAVA_TOOL_OPTIONS:-}"
    volumes:
      - ./cfg:/usr/local/robin/cfg
      - ./log:/var/log
      - ./store:/usr/local/robin/store
    ports:
      - "25:25"     # SMTP
      - "587:587"   # SUBMISSION
      - "465:465"   # SMTPS
      - "8080:8080"   # Service
      - "8090:8090"   # API
